
.file-container {
    width: auto;
    height: auto;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    width: 100%;

  }
  .wrapper.list {
    grid-template-columns: 1fr;
  }
  .wrapper .col {
    /* width: calc(100% - 20px); */
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    /* max-width: 200px;
    max-height: 200px; */
    /* aspect-ratio: 1; */
    /* height: minmax(150px) */
    /* width: 150px;
    height: 150px; */
    /* margin: 10px; */
  }

.col.folder {
    position: relative;
}

.file-name{
    aspect-ratio: 1;
    /* width: 140px; */
    
}

/* .col .file-select{

    width: 20px;
    height: 20px;
} */

.col .folder-icon{
    height:  6rem;
}

.col:hover .file-select{
    opacity: 1;
}



.col .file-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col .folder-icon{
    height:  6rem;
}

.file-header-container{
    display: flex;
    background:green;
    height: 50px;
}

.file-header{
    background-color: red;
    min-width: 20px;
    display: flex;
    align-items: center;
    
}



.searchbar-result{
    z-index: 1000;
}



.rounded-corners{
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.file-dropzone {
    background-color: red;
    width: 80%;
    height: 50px;
    border-radius: 5px;
}

.file-select{
    opacity: 0;
}


.file-select:focus-visible, .file-select:focus, .file-select:focus-within{
    opacity: 1;
}